name: Crypto Radar Schedule

on:
  schedule:
    - cron: '0 7,13,19 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codice
        uses: actions/checkout@v3

      - name: Configurazione Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Installazione librerie
        run: pip install python-binance requests pandas yfinance

      - name: Esecuzione Radar
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          BINANCE_API_KEY: ${{ secrets.BINANCE_API_KEY }}
          BINANCE_API_SECRET: ${{ secrets.BINANCE_API_SECRET }}
        run: python radar_bot.py
